ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 10px;
}

header,
footer {
    display: inline;
    text-align: center;
}

header button {
    border-radius: 3px;
    background-color: #4285f4;
    border-color: #4285f4;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.searchStation {
    position: absolute;
    top: 30%;
    left: 35%;
}

.GL {
    padding: 30px 100px;
}

.searchBar {
    width: 500px;
    height: 35px;
}

SSsb {
    position: relative;
    float: left;
    margin-right: 20px;
}

.searchButton {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.searchButton button {
    display: inline;
    border-radius: 3px;
    background-color: #F9F5F5;
    font-size: 16px;
    margin: 10px;
    font-weight: bold;
    color: darkgrey;
    padding: 5px 15px;
}

.searchButton button:hover {
    border-color: darkgrey;
}

#header {
    text-align: right;
    top: 0;
    right: 0;
    position: fixed;
    padding: 10px;
    margin: 10px;
}

#leftFooter {
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin: 10px;
}

#rightFooter {
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: gray;
}